*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.window{
    height: 100vh;
    display: flex; align-items: center; justify-content: center;
    position: relative;
}

.wrapper{
    width: 100px;
    height: 50px;
    line-height: 30px;
   display: inline-block;
    position: relative;
}
#buttonSwitch{
  height: 50px;
  width: 100px;
    position: absolute;
    
   
}
.popover{
  height: 50px;
  width: 100px;
    border: 1px red solid;
    left: 150px;
    position: absolute;
    background-color:transparent;
    display: none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
